In [55]:
import pandas as pd

In [56]:
df = pd.read_csv('/content/retail_sales_dataset.csv', index_col='Transaction ID')

In [57]:
df.head()

,Date,Customer ID,Gender,Age,Product Category,Quantity,Price per Unit,Total Amount
Transaction ID,,,,,,,,
1,2023-11-24,CUST001,Male,34,Beauty,3,50,150
2,2023-02-27,CUST002,Female,26,Clothing,2,500,1000
3,2023-01-13,CUST003,Male,50,Electronics,1,30,30
4,2023-05-21,CUST004,Male,37,Clothing,1,500,500
5,2023-05-06,CUST005,Male,30,Beauty,2,50,100

In [58]:
df.tail()

,Date,Customer ID,Gender,Age,Product Category,Quantity,Price per Unit,Total Amount
Transaction ID,,,,,,,,
996,2023-05-16,CUST996,Male,62,Clothing,1,50,50
997,2023-11-17,CUST997,Male,52,Beauty,3,30,90
998,2023-10-29,CUST998,Female,23,Beauty,4,25,100
999,2023-12-05,CUST999,Female,36,Electronics,3,50,150
1000,2023-04-12,CUST1000,Male,47,Electronics,4,30,120

In [59]:
df.shape

(1000, 8)

In [60]:
df

,Date,Customer ID,Gender,Age,Product Category,Quantity,Price per Unit,Total Amount
Transaction ID,,,,,,,,
1,2023-11-24,CUST001,Male,34,Beauty,3,50,150
2,2023-02-27,CUST002,Female,26,Clothing,2,500,1000
3,2023-01-13,CUST003,Male,50,Electronics,1,30,30
4,2023-05-21,CUST004,Male,37,Clothing,1,500,500
5,2023-05-06,CUST005,Male,30,Beauty,2,50,100
...,...,...,...,...,...,...,...,...
996,2023-05-16,CUST996,Male,62,Clothing,1,50,50
997,2023-11-17,CUST997,Male,52,Beauty,3,30,90
998,2023-10-29,CUST998,Female,23,Beauty,4,25,100
999,2023-12-05,CUST999,Female,36,Electronics,3,50,150
1000,2023-04-12,CUST1000,Male,47,Electronics,4,30,120

In [61]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1000 entries, 1 to 1000
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Date              1000 non-null   object
 1   Customer ID       1000 non-null   object
 2   Gender            1000 non-null   object
 3   Age               1000 non-null   int64
 4   Product Category  1000 non-null   object
 5   Quantity          1000 non-null   int64
 6   Price per Unit    1000 non-null   int64
 7   Total Amount      1000 non-null   int64
dtypes: int64(4), object(4)
memory usage: 70.3+ KB

In [62]:
import os

In [63]:
os.listdir('/content')

['.config', 'retail_sales_dataset.csv', 'sample_data']

In [64]:
df[['Product Category','Price per Unit']].value_counts()

Product Category  Price per Unit
Clothing          25                75
                  50                75
                  300               72
Electronics       300               72
                  25                72
                  50                69
Beauty            500               68
                  50                67
Electronics       500               67
Clothing          30                65
                  500               64
Beauty            25                63
Electronics       30                62
Beauty            30                56
                  300               53
Name: count, dtype: int64

In [65]:
df.loc[[1,2,3,4],'Gender']

Transaction ID
1      Male
2    Female
3      Male
4      Male
Name: Gender, dtype: object

In [68]:
df.iloc[1:5,1]

Transaction ID
2    CUST002
3    CUST003
4    CUST004
5    CUST005
Name: Customer ID, dtype: object

In [69]:
df.columns

Index(['Date', 'Customer ID', 'Gender', 'Age', 'Product Category', 'Quantity',
       'Price per Unit', 'Total Amount'],
      dtype='object')

In [70]:
df.iloc[2]

Date                 2023-01-13
Customer ID             CUST003
Gender                     Male
Age                          50
Product Category    Electronics
Quantity                      1
Price per Unit               30
Total Amount                 30
Name: 3, dtype: object

In [71]:
df.Age

Transaction ID
1       34
2       26
3       50
4       37
5       30
        ..
996     62
997     52
998     23
999     36
1000    47
Name: Age, Length: 1000, dtype: int64

In [72]:
df.set_index('Age')

,Date,Customer ID,Gender,Product Category,Quantity,Price per Unit,Total Amount
Age,,,,,,,
34,2023-11-24,CUST001,Male,Beauty,3,50,150
26,2023-02-27,CUST002,Female,Clothing,2,500,1000
50,2023-01-13,CUST003,Male,Electronics,1,30,30
37,2023-05-21,CUST004,Male,Clothing,1,500,500
30,2023-05-06,CUST005,Male,Beauty,2,50,100
...,...,...,...,...,...,...,...
62,2023-05-16,CUST996,Male,Clothing,1,50,50
52,2023-11-17,CUST997,Male,Beauty,3,30,90
23,2023-10-29,CUST998,Female,Beauty,4,25,100
36,2023-12-05,CUST999,Female,Electronics,3,50,150
47,2023-04-12,CUST1000,Male,Electronics,4,30,120

In [73]:
df

,Date,Customer ID,Gender,Age,Product Category,Quantity,Price per Unit,Total Amount
Transaction ID,,,,,,,,
1,2023-11-24,CUST001,Male,34,Beauty,3,50,150
2,2023-02-27,CUST002,Female,26,Clothing,2,500,1000
3,2023-01-13,CUST003,Male,50,Electronics,1,30,30
4,2023-05-21,CUST004,Male,37,Clothing,1,500,500
5,2023-05-06,CUST005,Male,30,Beauty,2,50,100
...,...,...,...,...,...,...,...,...
996,2023-05-16,CUST996,Male,62,Clothing,1,50,50
997,2023-11-17,CUST997,Male,52,Beauty,3,30,90
998,2023-10-29,CUST998,Female,23,Beauty,4,25,100
999,2023-12-05,CUST999,Female,36,Electronics,3,50,150
1000,2023-04-12,CUST1000,Male,47,Electronics,4,30,120

In [74]:
df.set_index('Age', inplace=True)

In [75]:
df

,Date,Customer ID,Gender,Product Category,Quantity,Price per Unit,Total Amount
Age,,,,,,,
34,2023-11-24,CUST001,Male,Beauty,3,50,150
26,2023-02-27,CUST002,Female,Clothing,2,500,1000
50,2023-01-13,CUST003,Male,Electronics,1,30,30
37,2023-05-21,CUST004,Male,Clothing,1,500,500
30,2023-05-06,CUST005,Male,Beauty,2,50,100
...,...,...,...,...,...,...,...
62,2023-05-16,CUST996,Male,Clothing,1,50,50
52,2023-11-17,CUST997,Male,Beauty,3,30,90
23,2023-10-29,CUST998,Female,Beauty,4,25,100
36,2023-12-05,CUST999,Female,Electronics,3,50,150
47,2023-04-12,CUST1000,Male,Electronics,4,30,120

In [76]:
df.index

Index([34, 26, 50, 37, 30, 45, 46, 30, 63, 52,
       ...
       34, 57, 48, 51, 41, 62, 52, 23, 36, 47],
      dtype='int64', name='Age', length=1000)

In [77]:
df.loc[20]

,Date,Customer ID,Gender,Product Category,Quantity,Price per Unit,Total Amount
Age,,,,,,,
20,2023-06-26,CUST046,Female,Electronics,4,300,1200
20,2023-05-23,CUST072,Female,Electronics,4,500,2000
20,2023-02-16,CUST133,Male,Electronics,3,300,900
20,2023-02-26,CUST135,Male,Clothing,2,25,50
20,2023-07-05,CUST186,Male,Clothing,4,50,200
20,2023-12-10,CUST214,Male,Beauty,2,30,60
20,2023-10-20,CUST249,Male,Clothing,1,50,50
20,2023-02-17,CUST292,Male,Beauty,4,300,1200
20,2023-02-21,CUST371,Female,Beauty,1,25,25
20,2023-06-17,CUST542,Female,Beauty,1,50,50
20,2023-07-27,CUST557,Female,Beauty,3,30,90
20,2023-08-09,CUST563,Male,Clothing,2,30,60
20,2023-12-23,CUST602,Female,Electronics,1,300,300
20,2023-07-14,CUST722,Male,Beauty,3,300,900
20,2023-07-09,CUST792,Female,Beauty,1,50,50
20,2023-06-24,CUST839,Female,Electronics,4,300,1200
20,2023-06-30,CUST878,Female,Clothing,1,30,30
20,2023-04-09,CUST892,Male,Electronics,1,50,50
20,2023-06-04,CUST906,Female,Clothing,1,50,50
20,2023-03-06,CUST910,Female,Beauty,3,50,150
20,2023-01-28,CUST940,Female,Electronics,1,30,30

In [78]:
df.loc[20,'Gender']

Age
20    Female
20    Female
20      Male
20      Male
20      Male
20      Male
20      Male
20      Male
20    Female
20    Female
20    Female
20      Male
20    Female
20      Male
20    Female
20    Female
20    Female
20      Male
20    Female
20    Female
20    Female
Name: Gender, dtype: object

In [79]:
df[df['Gender']=='Male']

,Date,Customer ID,Gender,Product Category,Quantity,Price per Unit,Total Amount
Age,,,,,,,
34,2023-11-24,CUST001,Male,Beauty,3,50,150
50,2023-01-13,CUST003,Male,Electronics,1,30,30
37,2023-05-21,CUST004,Male,Clothing,1,500,500
30,2023-05-06,CUST005,Male,Beauty,2,50,100
46,2023-03-13,CUST007,Male,Clothing,2,25,50
...,...,...,...,...,...,...,...
47,2023-05-03,CUST974,Male,Beauty,1,30,30
56,2023-08-29,CUST984,Male,Clothing,1,500,500
62,2023-05-16,CUST996,Male,Clothing,1,50,50
52,2023-11-17,CUST997,Male,Beauty,3,30,90
47,2023-04-12,CUST1000,Male,Electronics,4,30,120

In [80]:
df.loc[df['Gender']=='Male','Gender']

Age
34    Male
50    Male
37    Male
30    Male
46    Male
      ...
47    Male
56    Male
62    Male
52    Male
47    Male
Name: Gender, Length: 490, dtype: object

In [81]:
df.loc[:,'Gender']

Age
34      Male
26    Female
50      Male
37      Male
30      Male
       ...
62      Male
52      Male
23    Female
36    Female
47      Male
Name: Gender, Length: 1000, dtype: object

In [82]:
df.loc[df['Gender']=='Male',['Quantity','Price per Unit']]

     Quantity  Price per Unit
Age
34          3              50
50          1              30
37          1             500
30          2              50
46          2              25
..        ...             ...
47          1              30
56          1             500
62          1              50
52          3              30
47          4              30

[490 rows x 2 columns]

In [83]:
df.reset_index(inplace=True)

In [84]:
df

,Age,Date,Customer ID,Gender,Product Category,Quantity,Price per Unit,Total Amount
0,34,2023-11-24,CUST001,Male,Beauty,3,50,150
1,26,2023-02-27,CUST002,Female,Clothing,2,500,1000
2,50,2023-01-13,CUST003,Male,Electronics,1,30,30
3,37,2023-05-21,CUST004,Male,Clothing,1,500,500
4,30,2023-05-06,CUST005,Male,Beauty,2,50,100
...,...,...,...,...,...,...,...,...
995,62,2023-05-16,CUST996,Male,Clothing,1,50,50
996,52,2023-11-17,CUST997,Male,Beauty,3,30,90
997,23,2023-10-29,CUST998,Female,Beauty,4,25,100
998,36,2023-12-05,CUST999,Female,Electronics,3,50,150
999,47,2023-04-12,CUST1000,Male,Electronics,4,30,120